In [29]:
# Importing libraries and packages

%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.utils import shuffle
import os
import re

from permutation_test_util import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [82]:
%reload_ext autoreload

In [2]:
# Adjust dataframe display options to view full output
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_rows', 10)

In [12]:
# Importing dataset

os.chdir("C:/Users/phuro/UCSD/Project_WHEL/data")

fp = os.path.join('interim', 'fdr_correction_demo_dataset.csv')
df = pd.read_csv(fp, index_col=0)

In [14]:
quanti_cols = ["age at dx", "main meals", "snacks", "meals out", "cooking time", "adults", \
    "children", "shopping freq", "grocery bill", "weight", "time at weight",
    "max weight", "years in state", "# first deg relatives with breast cancer",
    "# second deg relatives with breast cancer", "# sisters", 
    "# sisters with breast cancer",	"# sisters with ovarian cancer",
    "# first deg relatives with colorectal cancer", 
    "# second deg relatives with colorectal cancer", "Menarch Age", 
    "# Times Pregnant", "# Live Births", "Age at First Live Birth", 
    "Months Full Breast Feeding", "Months Partial Breastfeeding", 
    "Age at Menopause", "Years of Birth Control", "Years of HRT",	
    "# Previous Breast Biopsies", "lutein", "cryptox", "lycopene", "alphacar", 
    "betacar", "BMI", "Bld Pres -Sys", "Bld Pres - Dias", "% Protein", "% Fat", 
    "% Carb", "% Alcohol", "pack years", "NEW METS", "Number of Supplements"]

In [16]:
df.drop(columns='ID', inplace=True)
df

,age at dx,Ethnicity,Education,Marital Status,Empl. Status,site,status,main meals,snacks,meals out,cooking time,adults,children,I cook?,I clean up?,shopping freq,grocery bill,I buy food?,weight,time at weight,max weight,insurance change?,insurance satisfaction,years in state,where born,age15 residence,age35 residence,age50 residence,longest residence,adopted?,# first deg relatives with breast cancer,# second deg relatives with breast cancer,mom had BC?,mom had ovarian cancer?,# sisters,# sisters with breast cancer,# sisters with ovarian cancer,# first deg relatives with colorectal cancer,# second deg relatives with colorectal cancer,Menarch Age,# Times Pregnant,# Live Births,Age at First Live Birth,Months Full Breast Feeding,Months Partial Breastfeeding,Age at Menopause,Hysterectomy,# Oophorectomies,Hormonal Birth Control,Birth Control Type,Years of Birth Control,HRT,HRT Type,Years of HRT,# Previous Breast Biopsies,lutein,cryptox,lycopene,alphacar,betacar,Lump/Mast,Chemo,Tumor Type,BMI,Bld Pres -Sys,Bld Pres - Dias,% Protein,% Fat,% Carb,% Alcohol,smoking status,pack years,NEW METS,wgt history,hospital_,Blood_Sugar,Cardiovascular,Digestive,Arthritis,Osteoporosis,Number of Supplements,Amino Acids,Antioxidants,Carotenoids,Herbals/Not Phytoestrogens,Herbals/Phytoestrogens,Minerals/Calcium,Minerals/Not Calcium,Miscellaneous,Multi-Vitamin,Multi-vitamin/mineral,Other nutrients,Probiotics/Enzymes,Protein Supplements/Soy,Vitamin A,Vitamin B,Vitamin C,Vitamin D,Vitamin E,Vitamin K,vitality,othcstatus,grade,newstage
0,54,1,7,5,0,CA,unreturned,16.0,8.0,4.0,35.0,1.0,NaN,1.0,1.0,1.0,25.0,1.0,146.0,0.5,148.0,1.0,9.0,4.0,1,1.0,1.0,1.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,10.0,2.0,2.0,18.0,6.0,3.0,51.0,0.0,0.0,1.0,1.0,5.0,1.0,2.0,10.0,NaN,0.5150,0.2428,0.9518,0.3087,1.0113,2,2,3,24.9108,124,96,18.924077,29.524726,50.142715,3.8873367,2,7.0000,945.0,4,0.0,0.0,0.0,1.0,0.0,0.0,4,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,2.0,1,2
1,57,1,9,2,0,AZ,returned,21.0,0.0,2.0,55.0,2.0,0.0,1.0,1.0,1.0,100.0,1.0,218.0,8.0,218.0,1.0,8.0,1.0,3,3.0,4.0,4.0,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,13.0,2.0,2.0,27.0,0.0,0.0,47.0,0.0,0.0,1.0,1.0,14.0,1.0,2.0,10.0,NaN,0.2237,0.1666,0.3300,0.1132,0.2663,2,2,3,37.8260,96,75,17.659007,24.663251,57.057056,3.4782122,1,22.5000,1785.0,2,0.0,0.0,0.0,0.0,0.0,0.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0.0,3,1
2,45,3,8,2,1,CA,unreturned,14.0,16.0,7.0,35.0,2.0,0.0,1.0,1.0,1.0,75.0,1.0,198.0,0.5,207.0,1.0,9.0,4.0,1,1.0,1.0,1.0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,2.0,2.0,15.0,0.0,0.0,44.0,0.0,0.0,1.0,1.0,5.0,0.0,NaN,NaN,NaN,0.1574,0.1460,0.3600,0.0595,0.1581,1,2,3,34.6098,-9,-9,15.294056,31.070694,56.07326,0.0053804,3,0.0000,850.0,2,0.0,0.0,1.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0.0,3,2
3,52,1,7,2,0,CA,unreturned,16.0,13.0,1.0,55.0,2.0,0.0,1.0,1.0,1.0,NaN,1.0,169.0,2.0,169.0,5.0,8.0,4.0,3,3.0,3.0,1.0,3,0.0,1.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,3.0,20.0,6.0,0.0,42.0,1.0,1.0,1.0,1.0,7.0,1.0,4.0,10.0,NaN,0.4145,0.1256,0.5800,0.2100,0.6182,1,1,3,29.5006,-9,-9,18.706712,32.766762,49.53105,0.1372782,2,25.0000,450.0,2,0.0,0.0,0.0,0.0,1.0,1.0,9,0,0,0,3,0,1,2,1,0,0,0,0,0,0,1,1,0,0,0,1,0.0,3,1
4,48,1,9,2,1,CA,returned,20.0,5.0,0.0,35.0,2.0,0.0,1.0,1.0,1.0,100.0,1.0,130.0,1.0,142.0,1.0,9.0,4.0,4,4.0,1.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,12.0,3.0,2.0,24.0,11.0,0.0,48.0,0.0,0.0,1.0,1.0,12.0,0.0,1.0,1.0,NaN,0.3378,0.3948,1.2372,0.5279,1.6302,1,2,3,22.6540,-9,-9,19.750513,30.613405,52.198382,0.0093277,3,0.0000,450.0,4,NaN,NaN,NaN,NaN,NaN,NaN,4,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,1,0.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2856,47,1,7,2,1,AZ,returned,16.0,0.0,0.0,85.0,2.0,NaN,1.0,1.0,1.0,120.0,1.0,170.0,1.5,170.0,1.0,9.0,4.0,3,2.0,1.0,1.0,1,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,2.0,2.0,23.0,0.0,0.0,47.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.1653,0.1188,0.6060,0.0608,0.2369,2,2,2,27.2817,143,99,17.806365,27.673288,50.304703,5.3238254,2,0.3125,157.5,2,0.0,0.0,1.0,0.0,0.0,0.0,7,0,0,0,2,0,0,1,0,0,1,1,0,0,0,0,1,0,1,0,1,0.0,3,2
2857,58,1,9,2,1,AZ,returned,21.0,7.0,2.0,35.0,2.0,0.0,1.0,1.0,3.0,75.0,1.0,182.0,1.0,185.0,1.0,7.0,1.0,3,4.0,1.0,1.0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,NaN,0.0,0.0,48.0,0.0,0.0,0.0,NaN,NaN,1.0,2.0,10.0,2.0,0.3318,0.0689,0.5975,0.1887,0.3292,2,2,1,27.6321,118,78,13.614865,26.159368,64.137978,0.064418,3,0.0000,645.0,4,0.0,0.0,0.0,0.0,1.0,0.0,6,0,0,0,2,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,1,0.0,2,3
2858,37,1,9,2,1,CA,returned,21.0,6.0,6.0,75.0,2.0,1.0,1.0,1.0,1.0,50.0,1.0,150.0,4.0,162.0,2.0,6.0,3.0,4,4.0,1.0,99.0,4,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,1.0,1.0,31.0,4.0,1.0,NaN,0.0,0.0,1.0,1.0,3.0,0.0,NaN,NaN,NaN,0.3506,0.1430,1.0669,0.1514,1.6992,1,2,3,26.6441,-9,-9,11.936995,29.177742,60.627664,0.0395683,3,0.0000,1020.0,4,NaN,NaN,NaN,NaN,NaN,NaN,10,0,0,0,3,0,1,1,1,0,1,0,0,0,0,1,1,0,1,0,1,0.0,3,1
2859,40,1,7,1,1,AZ,unreturned,0.0,21.0,1.0,20.0,1.0,1.0,1.0,1.0,2.0,100.0,1.0,165.0,0.5,175.0,1.0,6.0,3.0,3,3.0,1.0,99.0,3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,6.0,3.0,18.0,12.0,2.0,41.0,1.0,0.0,1.0,1.0,6.0,0.0,NaN,NaN,NaN,0.4429,0.1552,0.8981,0.3444,1.0989,2,2,1,25.9544,-9,-9,11.723719,23.765684,49.305541,18.340514,2,3.1250,382.5,4,1.0,0.0,0.0,0.0,0.0,0.0,15,0,0,0,2,1,0,3,1,0,0,1,1,0,0,4,2,0,0,0,1,0.0,2,2
2860,54,1,7,2,1,CA,returned,20.0,7.0,8.0,5.0,2.0,NaN,1.0,1.0,3.0,100.0,1.0,120.0,1.8,135.0,1.0,8.0,4.0,5,5.0,1.0,1.0,1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,1.0,1.0,24.0,2.0,0.0,46.0,0.0,0.0,1.0,1.0,7.0,1.0,2.0,7.0,NaN,0.3341,0.2450,0.2631,0.9844,5.8282,1,2,3,20.3231,-9,-9,11.769204,19.792233,74.277631,0,2,15.0000,1180.0,1,0.0,0.0,0.0,0.0,0.0,0.0,11,0,1,0,1,0,1,0,1,0,2,0,0,0,1,1,2,0,1,0,1,0.0,3,1

In [129]:
subset = df[df.columns[:8].tolist()]

In [130]:
subset

,age at dx,Ethnicity,Education,Marital Status,Empl. Status,site,status,main meals
0,54,1,7,5,0,CA,unreturned,16.0
1,57,1,9,2,0,AZ,returned,21.0
2,45,3,8,2,1,CA,unreturned,14.0
3,52,1,7,2,0,CA,unreturned,16.0
4,48,1,9,2,1,CA,returned,20.0
...,...,...,...,...,...,...,...,...
2856,47,1,7,2,1,AZ,returned,16.0
2857,58,1,9,2,1,AZ,returned,21.0
2858,37,1,9,2,1,CA,returned,21.0
2859,40,1,7,1,1,AZ,unreturned,0.0
2860,54,1,7,2,1,CA,returned,20.0

In [131]:
fdr_control = FDRController()

In [132]:
fdr_control.test(subset, 5000, shuffle_column='status', \
    quantitative_columns=quanti_cols
)

In [133]:
fdr_control.pvalues

[0.2066, 0.0002, 0.0152, 0.1162, 0.1522, 0.001, 0.9918]

In [134]:
fdr_control.k

7

In [140]:
fdr_control.adjust()

[0.0002, 0.001, 0.0152, 0.1162, 0.1522, 0.2066, 0.9918]

In [141]:
fdr_control.results

          feature  p-values  q-values
1       Ethnicity    0.0002  0.001400
5            site    0.0010  0.003500
2       Education    0.0152  0.035467
3  Marital Status    0.1162  0.203350
4    Empl. Status    0.1522  0.213080
0       age at dx    0.2066  0.241033
6      main meals    0.9918  0.991800

In [142]:
fdr_control.get_results()

In [145]:
fdr_control.critical_threshold

0.03546666666666667

In [143]:
fdr_control.reject

     feature  p-values  q-values
1  Ethnicity    0.0002  0.001400
5       site    0.0010  0.003500
2  Education    0.0152  0.035467